* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.main-container {
    height: 100vh;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .logo-1 {
        width: 90px;
        height: auto;
    }

    & .logo-2 {
        width: 110px;
        height: auto;
        border-radius: 60px;
    }

    & :nth-child(2) {
        align-self: center;
    }

    & :nth-child(3) {
        align-self: flex-end;
    }
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 16px;
}

#myCanvas {
    width: 100%;  /* This will take 100% width of its parent */
    height: 0;   /* Reset the height */
    padding-top: 100%;  /* This will make it a square */
    position: relative;  /* For potential child elements to be positioned inside of it */
    border-radius: 50%;
    background-color: #865a5a;
}

#video-container {
    position: relative; /* Relative positioning for the container */
    display: flex;
    gap: 32px;
}

canvas {
    position: absolute; /* Absolute positioning for the faceAPI canvas */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%; /* To match the border-radius of the video */
}


#video {
    width: 160px;
    height: 160px;
    object-fit: cover;  /* this will ensure the aspect ratio is maintained */
    border-radius: 50%;
}

#faceExpression {
    width: 80px;
    align-self: center;
    text-align: center;
}

#colorDetection {
    width: 80px;
    align-self: center ;
    text-align: center;
}

#printButton {
    margin: 0 auto;
    padding: 16px 32px;
}

@media (max-width: 768px) {
    .canvas-container {
            width: 100%; 
            max-width: 500px;
            margin: 0 auto;
    }

    .main-container .logo-1 {
        width: 50px;
        height: auto;
    }
    .main-container .logo-2 {
        width: 65px;
        height: auto;
    }
}